@import '~antd/dist/antd.css';

/* App Styles */
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Main Content Container */
.mainContent {
  flex: 1 0 auto;
}


/* Footer Styles */
footer {
  flex-shrink: 1;
}


/*  Add Your CSS Styles Here */
